<div
    style="
    background-color: red;
    color: white;
    font-size: 11px;
    height: 40px;
    padding-top: 12px;
    padding-left: 15px;
    margin-bottom: 10px;
    "
>
    <img src="https://img.icons8.com/color/48/000000/sunflower.png" style="width: 18px; height: 18px"/>
    LANGKAH 3 - Kalkulasi serapan karbon. Silahkan input data pohon yang sudah ditanam (jumlah, jenis, umur)
</div>
<div>
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Tambahkan data pohon
</button>
    <table class="table table-striped" style="font-size: 11px">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama Pohon</th>
          <th scope="col">Nama Pohon (Latin)</th>
          <th scope="col">Gambar</th>
          <th scope="col">Jumlah Pohon</th>
          <th scope="col">Umur Pohon (Tahun)</th>
          <th scope="col">Daya Serap (Ton CO2 eq/pohon)</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cassia</td>
          <td>Cassia sp</td>
          <td>img</td>
          <td>2</td>
          <td>3</td>
          <td>0.04</td>
          <td><img src="https://img.icons8.com/color/48/000000/edit--v1.png" style="width: 22px; height: 22px"/></td>
          <td><img src="https://img.icons8.com/color/48/000000/cancel--v1.png" style="width: 22px; height: 22px"/><td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Cassia</td>
          <td>Cassia sp</td>
          <td>img</td>
          <td>2</td>
          <td>3</td>
          <td>0.04</td>
          <td><img src="https://img.icons8.com/color/48/000000/edit--v1.png" style="width: 22px; height: 22px"/></td>
          <td><img src="https://img.icons8.com/color/48/000000/cancel--v1.png" style="width: 22px; height: 22px"/><td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Cassia</td>
          <td>Cassia sp</td>
          <td>img</td>
          <td>2</td>
          <td>3</td>
          <td>0.04</td>
          <td><img src="https://img.icons8.com/color/48/000000/edit--v1.png" style="width: 22px; height: 22px"/></td>
          <td><img src="https://img.icons8.com/color/48/000000/cancel--v1.png" style="width: 22px; height: 22px"/><td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <td>Total: 0.27</td>
            <td>Total: 0.27</td>
        </tr>
      </tfoot>
    </table>

    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-bicycle"></i>Pohon Serapan Karbon</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <div class="mb-3 row">
                <label
                  for="staticEmail"
                  class="col-sm-2 col-form-label"
                  style="font-size: 12px"
                >
                  <i class="bi bi-person"></i> Jenis Pohon</label
                >
                <div class="col-sm-5">
                    Klik tombol kanan untuk memilih pohon
                </div>
                <div class="col-sm-5">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Pilih pohon</button>
                </div>
              </div>

              <div class="mb-3 row">
                <label
                  for="staticEmail"
                  class="col-sm-2 col-form-label"
                  style="font-size: 12px"
                >
                  <i class="bi bi-person"></i> Umur Pohon (Tahun)</label
                >
                <div class="col-sm-5">
                  <input
                    type="number"
                    min="1"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>

              <div class="mb-3 row">
                <label
                  for="staticEmail"
                  class="col-sm-2 col-form-label"
                  style="font-size: 12px"
                >
                  <i class="bi bi-person"></i> Jumlah Ditanam</label
                >
                <div class="col-sm-5">
                  <input
                    type="number"
                    min="1"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>

          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal 1 -->

    <!-- Modal 2 -->
    <div class="modal modal-lg fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Database Pohon</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3">
              <div class="col-6">
                <label for="inputPassword2" class="visually-hidden">Password</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="Masukan nama pohon">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Find</button>
              </div>
            </form>
            <div style="display: flex; flex: 50%;">
                <picture>
                    <img src="mangga.jpg" class="img-fluid img-thumbnail" alt="mangga">
                    <p>Mangga</p>
                    <p>Mango Orange</p>
                </picture>
                <picture>
                    <img src="mangga.jpg" class="img-fluid img-thumbnail" alt="mangga">
                    <p>Mangga</p>
                    <p>Mango Orange</p>
                </picture>
            </div>
            <div style="display: flex; flex: 50%">
                <picture>
                    <img src="mangga.jpg" class="img-fluid img-thumbnail" alt="mangga">
                </picture>
                <picture>
                    <img src="mangga.jpg" class="img-fluid img-thumbnail" alt="mangga">
                </picture>
            </div>
            
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal 2 -->
</div>