<p style="background-color: red; color: white; padding: 12px">
    <img src="https://img.icons8.com/color/48/000000/brief.png" style="width: 18px; height: 18px"/>
    Halaman ini berisi kesimpulan dari tiap-tiap langkah (Tempat tinggal, Transportasi, Serapan Karbon)
</p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Ringkasan" asp-action="Index"> <i class="bi bi-journal-richtext"></i> Ringkasan Utama</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Ringkasan" asp-action="DetilRingkasan"><i class="bi bi-journal-text"></i> Detil Ringkasan</a>
  </li>
</ul>

<div style="background-color: rgb(153, 178, 82); height: 30px; color: white; text-align: center; width: 90%; margin-top: 15px;">DETAIL RINGKASAN EMISI</div>

<div style="display: flex">
<div style="width: 90%">
<div>
  <div
    style="
      display: flex;
      height: 100px;
      font-size: 13px;
      background-color: rgb(220, 228, 205);
    "
  >
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi Konsumsi Listrik
          </p>
          <p style="margin-bottom: -5px">Bulan berjalan dalam kWh</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            6000
          </p>

        </div>
    </div>
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi Pemakaian Listrik
          </p>
          <p style="margin-bottom: -5px">Per Orang / Tahun dalam kWh</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            1200.0
          </p>

        </div>
    </div>
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi EMISI CO2 dari Listrik
          </p>
          <p style="margin-bottom: -5px">ton CO2 eq Per Orang / Tahun</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            1.0
          </p>

        </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      height: 100px;
      font-size: 13px;
      background-color: rgb(238, 241, 231);
    "
  >
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi Pemakaian Gas
          </p>
          <p style="margin-bottom: -5px">Bulan berjalan dalam M3</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            103.82
          </p>

        </div>
    </div>
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi Pemakaian Gas
          </p>
          <p style="margin-bottom: -5px">Per Orang / Tahun dalam M3</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            20.8
          </p>

        </div>
    </div>
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi CO2 dari Gas
          </p>
          <p style="margin-bottom: -5px">ton CO2 eq Per Orang / Tahun</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            43.8
          </p>

        </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      height: 100px;
      font-size: 13px;
      background-color: rgb(220, 228, 205);
    "
  >
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi Pemakaian BBM
          </p>
          <p style="margin-bottom: -5px">Bulan berjalan dalam Liter</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            960.7
          </p>

        </div>
    </div>
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi Pemakaian BBM
          </p>
          <p style="margin-bottom: -5px">Per Orang / Tahun dalam Liter</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            240.4
          </p>

        </div>
    </div>
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Akumulasi EMISI CO2 dari BBM
          </p>
          <p style="margin-bottom: -5px">ton CO2 eq Per Orang / Tahun</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            52.9
          </p>

        </div>
    </div>
  </div>

  <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
        background-color: rgb(238, 241, 231);
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Total Akumulasi EMISI CO2
          </p>
          <p style="margin-bottom: -5px">Ton CO2 eq Per Orang Per Tahun </p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            97.7
          </p>

        </div>
    </div>
</div>

<div style="background-color: rgb(153, 178, 82); height: 30px; color: white; text-align: center; width: 100%; margin-top: 15px;">RINGKASAN SERAPAN KARBON</div>

<div
    style="
      display: flex;
      height: 100px;
      font-size: 13px;
      background-color: rgb(220, 228, 205);
    "
  >
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Pohon Ditanam
          </p>
          <p style="margin-bottom: -5px">Jumlah Pohon</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            1
          </p>

        </div>
    </div>
    <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Total Serapan Karbon
          </p>
          <p style="margin-bottom: -5px">Ton CO2 eq Per Orang Per Tahun</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: rgb(0, 128, 255);
            "
          >
            18.8
          </p>

        </div>
    </div>
  </div>

<div style="background-color: rgb(153, 178, 82); height: 30px; color: white; text-align: center; width: 100%; margin-top: 15px;">RINGKASAN KARBON NETRAL</div>

<div>
  <div
      style="
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 2px solid white;
        box-sizing: border-box;
        display: flex; 
        flex-direction: column; 
        background-color: rgb(238, 241, 231);
      "
    >
        <div style="flex-basis: 80%">
          <p style="font-weight: bold; margin-bottom: -2px">
            Emisi Karbon (FINAL)
          </p>
          <p style="margin-bottom: -5px">Emisi - Daya Serap (Ton CO2 eq Per Orang Per Tahun)</p>
        </div>
        <div style="flex-basis: 20%">
          <p
            style="
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: red;
            "
          >
            -78.9
          </p>

        </div>
    </div>
</div>

</div>
<div style="width: 10%">
    <button style="width: 100px; height: 100px; background-color: rgb(248, 242, 118); text-align: center; margin-bottom: 5px; border: none" type="button" data-bs-toggle="modal" data-bs-target="#laporanRangkumanModal">
        <img src="https://img.icons8.com/color/48/000000/open-envelope.png" style="width: 24px; height: 24px"/>
        <p style="font-size: 12px; margin-top: 5px">Laporkan Rangkuman</p>
    </button>
    <br/>
    <button style="width: 100px; height: 100px; background-color: rgb(248, 242, 118); text-align: center; border: none">
        <img src="https://img.icons8.com/color/48/000000/print.png" style="width: 24px; height: 24px"/>
        <p style="font-size: 12px; margin-top: 5px">Cetak Sertifikat</p>
    </button>
</div>
</div>