        <p style="background-color: red; color: white; padding: 12px">
            <img src="https://img.icons8.com/color/48/000000/cottage.png" style="width: 18px; height: 18px"/>
            LANGKAH 1 - Kalkulasi emisi karbon di tempat tinggal. Silahkan input data konsumsi energi
        </p>

        <div>
          <p style="font-size: 18px; font-weight: bold">Silahkan input data konsumsi</p>

          <div class="mb-3 row">
            <label
              for="staticEmail"
              class="col-sm-3 col-form-label"
              style="font-size: 12px"
            >
              <img src="https://img.icons8.com/color/48/000000/person-male.png" style="height: 18px; width: 18px"/> Jumlah orang dalam rumah</label
            >
            <div class="col-sm-5">
              <input
                type="number"
                min="1"
                class="form-control"
                id="inputPassword"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label"
              style="font-size: 12px"
            >
              <img src="https://img.icons8.com/color/48/000000/light.png" style="height: 18px; width: 18px"/> Konsumsi listrik bulan ini
              (kWh)</label
            >
            <div class="col-sm-5">
              <input
                type="number"
                min="0"
                class="form-control"
                id="inputPassword"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label"
              style="font-size: 12px"
            >
              <img src="https://img.icons8.com/color/48/000000/gas-bottle.png" style="height: 18px; width: 18px"/> Konsumsi gas LPG bulan ini
              (kg)</label
            >
            <div class="col-sm-5">
              <input
                type="number"
                min="0"
                class="form-control"
                id="inputPassword"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label"
              style="font-size: 12px"
            >
              <img src="https://img.icons8.com/color/48/000000/gas-industry.png" style="height: 18px; width: 18px"/> Konsumsi gas kota bulan ini
              (M3)</label
            >
            <div class="col-sm-5">
              <input
                type="number"
                min="0"
                class="form-control"
                id="inputPassword"
              />
            </div>
          </div>

          <div class="col-auto">
            <button
              type="button"
              class="btn btn-light btn-outline-dark rounded-0"
              style="font-size: 11px"
            >
              <img src="https://img.icons8.com/color/48/000000/calculator--v1.png" style="height: 18px; width: 18px"/>
              Jalankan kalkulator untuk menampilkan hasih dibawah!
            </button>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-sm-3">
              <label style="font-size: 12px"> </label>
            </div>
            <div class="col-sm-2">
              <label style="font-size: 12px">Akumulasi bulan ini </label>
            </div>
            <div class="col-sm-2">
              <label style="font-size: 12px">Akumulasi setahun </label>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label style="font-size: 12px">
                <img src="https://img.icons8.com/color/48/000000/line-chart--v1.png" style="height: 18px; width: 18px"/> Konsumsi listrik (kWh)</label
              >
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
              />
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
                aria-label="Last name"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <label style="font-size: 12px">
                <img src="https://img.icons8.com/color/48/000000/graph.png" style="height: 18px; width: 18px"/> Konsumsi gas (M3)</label
              >
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
              />
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
                aria-label="Last name"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label style="font-size: 12px">
                <img src="https://img.icons8.com/color/48/000000/analytics.png" style="height: 18px; width: 18px"/> Emisi CO2 dan listrik (kg
                CO2-e)</label
              >
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
              />
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
                aria-label="Last name"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label style="font-size: 12px">
                <img src="https://img.icons8.com/color/48/000000/ratings.png" style="height: 18px; width: 18px"/> Emisi CO2 dan gas (kg CO2-e)</label
              >
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
              />
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
                aria-label="Last name"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <label style="font-size: 12px">
                <img src="https://img.icons8.com/color/48/000000/improvement.png" style="height: 18px; width: 18px"/> Emisi CO2 per orang (kg
                CO2-e)</label
              >
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
              />
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                disabled
                readonly
                aria-label="First name"
                value="99"
                aria-label="Last name"
              />
            </div>
          </div>

          <button
            type="button"
            class="btn btn-light btn-outline-dark rounded-0"
            style="font-size: 11px;"
          >
            <img src="https://img.icons8.com/color/48/000000/climate-change.png" style="height: 18px; width: 18px"/>
            Lihat histori kalkulasi data rumah
          </button>
        </div>

