@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 50px">
    Pilih informasi yang ingin ditampilkan dengan tombol disamping
    <button
    type="button"
    class="btn btn-outline-dark"
    style="font-size: 12px"
    >
    <i class="bi bi-pencil-square"></i>
    Carbon footprint
    </button>

    <button
    type="button"
    class="btn btn-outline-dark"
    style="font-size: 12px"
    >
    <i class="bi bi-pencil-square"></i>
    Langkah menghitung jejak karbon
    </button>
</div> 

<img src="home.png" alt="home" style="width: 100%" /> 
