@{
    ViewData["Title"] = "Home Page";
}

<div style="padding: 12px">
    <p style="display: inline; font-size: 12px; font-weight: bold; color: rgb(16, 108, 232)">
        Pilih informasi yang ingin ditampilkan dengan tombol disamping
    </p>
    <button
        type="button"
        id="footprint"
        onclick="changeImageFootprint()"
        class="btn btn-light btn-outline-dark rounded-0"
        style="font-size: 11px; min-width: 220px"
    >
        <img src="https://img.icons8.com/color/48/000000/deciduous-tree.png" style="width: 18px; height: 18px"/>
        Carbon footprint
    </button>

    <button
        type="button"
        id="jejak"
        onclick="changeImageJejak()"
        class="btn btn-light btn-outline-dark rounded-0"
        style="font-size: 11px"
    >
        <img src="https://img.icons8.com/color/48/000000/graph.png" style="width: 18px; height: 18px"/>
        Langkah menghitung jejak karbon
    </button>
</div> 

<img src="home.png" alt="home" id="imgClickAndChange" style="width: auto; height: 50%; max-width: 100%; max-height: 100%"/>

<script>
    function changeImageJejak() {
        document.getElementById("imgClickAndChange").src = "home2.png";
    }

    function changeImageFootprint() {
        document.getElementById("imgClickAndChange").src = "home.png";
    }
</script>