@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@{
    ViewData["Title"] = "Home Page";
}

<div style="padding: 12px">
    <p style="display: inline; font-size: 12px; font-weight: bold; color: rgb(16, 108, 232)">
        Pilih informasi yang ingin ditampilkan dengan tombol disamping
    </p>
    <button
    type="button"
    class="btn btn-light btn-outline-dark rounded-0"
    style="font-size: 11px"
    >
    <img src="https://img.icons8.com/color/48/000000/deciduous-tree.png" style="width: 18px; height: 18px"/>
    Carbon footprint
    </button>

    <button
    type="button"
    class="btn btn-light btn-outline-dark rounded-0"
    style="font-size: 11px"
    >
    <img src="https://img.icons8.com/color/48/000000/graph.png" style="width: 18px; height: 18px"/>
    Langkah menghitung jejak karbon
    </button>
</div> 

<img src="home.png" alt="home" style="width: auto;
  height: 50%;
  max-width: 100%;
  max-height: 100%;
  "/> 
